* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: Raleway;
    text-decoration: none;
    transition: 0.2s linear;
}

body {
  background-color: #d5dce4ee;
}


.header {
  background-color: #94a7be;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}